// utils
.flex {
  display: flex;
}
.a-center {
  align-items: center;
}
.clickable {
  cursor: pointer;
}

.vertical-space {
  margin: 20px 0;
}

.sm-vertical-space {
  margin: 7px 0;
}

.m-around {
  margin: 7px;
}

.p-around {
  padding: 7px;
}
