// utils
.flex {
  display: flex;
}

.flex-col {
  display: flex;
  flex-direction: column;
}
.a-center {
  align-items: center;
}

.space-between {
  justify-content: space-between;
}

.space-around {
  justify-content: space-around;
}

.clickable {
  cursor: pointer;
}

.vertical-space {
  margin: 20px 0;
}

.sm-vertical-space {
  margin: 7px 0;
}

.m-around {
  margin: 7px;
}

.p-around {
  padding: 7px;
}

.w-100 {
  width: 100%;
}
